<section>
  <h2 id="user-list-heading">Users List</h2>

  @let isLoading = $isLoading();

  @if ((users$ | async); as users) {
    <div aria-labelledby="user-container">
      <ul>
        @for (user of users; track userTrackByFn(user)) {
          <li>
            <article aria-label="User details">
              <h3>{{ user.name }}</h3>
              <p><strong>Username:</strong> {{ user.username }}</p>
              <p><strong>Email:</strong> {{ user.email }}</p>
              <p><strong>Street:</strong> {{ user.address.street }}</p>
              <p><strong>Suite:</strong> {{ user.address.suite }}</p>
              <p><strong>City:</strong> {{ user.address.city }}</p>
              <p><strong>Zipcode:</strong> {{ user.address.zipcode }}</p>
            </article>
          </li>
        }
      </ul>
    </div>
  } @else {
    @if (isLoading) {
      <p>Loading users...</p>
    } @else {
      <p>Users not found.</p>
    }
  }
</section>
