@use "sass:color";
@use "../../../../assets/styles/variables" as *;

ul {
  display: flex;
  list-style: none;
}

.navbar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $secondary-color;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 0 auto;
}

.app-navbar {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  background-color: $primary-color;
  color: #fff;
  border-radius: 5px;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.app-navbar li {
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-weight: bold;
  margin: 0 0.5rem;
  transition: background-color 0.2s ease-in-out;
}

.app-navbar li:hover {
  background-color: color.adjust($primary-color, $lightness: -10%);
  cursor: pointer;
}

.app-navbar li.active {
  background-color: color.adjust($primary-color, $lightness: -20%);
}
